@charset "UTF-8";

/*
EN:
This exercise was done purely for learning purposes, I'm not responsible for any inappropriate uses off this code.
Feel free to learn and experiment with this Netflix website copy, but please do not use it for malicious reasons or pretend to be the Netflix group, it's a crime and it's not cool :(

There will be comments in both Portuguese and English explaining each section of what I've done. The inspiration of doing this is from the Traversy Media channel on youtube, make sure to watch his content that is really great for Front-end developers students - in any level really.

PT:
Este exercício foi feito puramente para fins estudantis, não sou responsável pelo uso inapropriado desse código.
Sinta-se livre para aprender e experimentar com esta cópia do site da Netflix, mas por favor, não use-a para intenções maliciosas ou finja ser o grupo Netflix, é crime e não é nada legal :(

Terão comentários em inglês e português explicando cada sessão do que eu fiz. A inspiração de fazer isso veio do canal no youtube de Traversy Media (em inglês, é de gringo), certifique-se de assistir o conteúdo dele que é muito bom pra desenvolvedores front-end em qualquer nível!!
*/ 

:root {
    --primary-color: #e50914;
}


/*little reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Defining the font, background and the color of the text in the body*/ 
/*Definindo a fonte, cor do plano de fundo e cor do texto no corpo*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #999;

}

/* That will remove the symbols that show up by default on lists */
/* Isso removerá os símbolos que aparecem antes do texto por definição*/
ul{
    list-style: none;
}

/* The color that titles will be*/
/* Aqui define-se a cor dos títulos*/
h1, h2, h3, h4 {
    font-size: 60px;
    color: #fff;
}

/* The reason the tag "a" (links) aren't with the titles is the text-decoration, which is none here. If I wanted to use a strong tag after for the titles, it wouldn't affect the  links at all */
/*  A razão pela qual a tag "a" (links) não está com os títulos é o acréscimo da tag "text-decoration", que é "nenhuma" aqui. Se eu quisesse utilizar a tag "strong" para os títulos (que torna negrito), mais tarde, não afetariam os links */
a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* That means the margin will be the value of 0.5 (or half if you will) of the root font size, which is 16 by default. */
/* A margem terá metade do tamanho do tamanho default da root. O valor é 16 por default */
p{
    font-size: 25px;
    color: #fff;
    margin: 0.5rem 0;
}


/* The images will take 100% of the containers */
/* As imagens tomarão espaço de 100% dos containers das quais estarão inseridas */
img {
    width: 100%;
}


/*The div "showcase" will have the following properties: the width, which will be 100% of the browser size of the client's browser, and 93% of the height of the preceding. The relative possition allows us to define the position the object has. The shorthand background is used only to attach the image url of the Netflix original site, who has a opacity that are written in our code too.*/
/*A div de classe "showcase" terá as seguintes definições: o width, que é a largura, terá 100% do tamanho da janela de browser do qual o cliente estará utilizando para ver o site e 93% da altura do mesmo. A posição sera relativa para que seja possível definir a posição do objeto. O shorthand de background está sendo usado somente para colocar a url da imagem de fundo default da Netflix, também foi feita uma opacidade, para ornar com como é de fato.*/

.showcase{
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('https://i.ibb.co/vXqDmnh/background.jpg');
}

/*The margin is for centering the flex box, so it matches the Netflix website*/
.showcase-top {
    margin: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 90px;
}

.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px, 0px, 30px, 0px;
}

.showcase-content{
    padding: 120px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.text-showcase-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-bottom: 25px;
}

.showcase-top img{
    width: 170px;
}

.showcase-top a{
    background-color: var(--primary-color);
}

.cta-form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cta-form-link{
    padding-bottom: 20px;
}

.input-cta-button{
    display: flex;
    height: 70px;
}

.input-cta-button > input{
    border: 0px;
    border-radius: 2px 0px 0px 2px;
}

.input-cta-button > button{
    border: 0px;
    border-radius: 0px 2px 2px 0px;
}

input{
    width: 500px;
    height: 100%;
}

#cta-getStarted{
    color: #fff;
    font-size: 20px;

    height: 100%;
    width: 200px;
    background-color: var(--primary-color);
    border: 0px;
}